<!doctype html>
<html lang="{{config.language}}">
<head>
    <meta charset="utf-8">
    <title>{{config.title}}</title>
    <!--
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    -->
    <link rel="stylesheet" href="/wakaba.css" />

    {{#each theme.font.stylesheets}}
    {{#if this}}
    <link rel="stylesheet" href="{{this}}" />
    {{/if}}
    {{/each}}

</head>
<body>
  <div id="container">
  <header id="global_header">
    <h1><a href="/">{{config.title}}</a></h1>
    <p>{{config.subtitle}}</p>
  </header>
  <main>
    <div>
      {{!-- ================================================== --}}
      {{#*inline "article"}}
      <article>
        <header>
          <h1><a href="/{{{this.path}}}">{{this.title}}</a></h1>
          <div>
            <span class="post_date">{{this.date}}</span>
            {{#if this.updated}}
            <span class="post_updated">(updated: {{this.updated}})</span>
            {{/if}}
          </div>
          {{#if this.description}}
          <p class="post_description">{{this.description}}</p>
          {{/if}}
        </header>
        {{#if this.content}}
        <div class="post_content">{{{this.content}}}</div>
        {{/if}}
        <footer>
          {{#if this.categories.length}}
          <ul class="post_categories">
            {{#each this.categories.data}}
            <li><a href="/{{{this.path}}}">{{this.name}}</a></li>
            {{/each}}
          </ul>
          {{/if}}
          {{#if this.tags.length}}
          <ul class="post_tags">
            {{#each this.tags.data}}
            <li><a href="/{{{this.path}}}">{{this.name}}</a></li>
            {{/each}}
          </ul>
          {{/if}}
        </footer>
      </article>
      {{/inline}}
      {{!-- ================================================== --}}
      {{#*inline "banner"}}
      <li class="banner">
        <h3><a href="/{{{this.path}}}">{{this.title}}</a></h3>
        <p>
          <span class="post_date">{{this.date}}</span>
          {{#if this.updated}}
          <span class="post_updated">(updated: {{this.updated}})</span>
          {{/if}}
        </p>
        {{!-- TODO: How about categories/tags? --}}
      </li>
      {{/inline}}
      {{#*inline "indexPage"}}
      <article>
        <header>
          <h1><a href="./">{{> @partial-block}}</a></h1>
        </header>
        <ol class="banner_list">
          {{#each page.posts}}
          {{#each this}}
          {{> banner}}
          {{/each}}
          {{/each}}
        </ol>
      </article>
      <div class="index_pagenation">
        <p>{{#if page.prev}}<a href="/{{{page.prev_link}}}">Previous</a>{{/if}}</p>
        <p><a href="/">Home</a></p>
        <p>{{#if page.next}}<a href="/{{{page.next_link}}}">Next</a>{{/if}}</p>
      </div>
      {{/inline}}
      {{!-- ================================================== --}}
      {{#if page.posts}}{{#if page.archive}}{{else}}{{#if page.category}}{{else}}{{#if page.tag}}{{else}}
      {{#each page.posts}}
      {{#each this}}
      {{log this.tags.length}}
      {{> article}}
      {{/each}}
      {{/each}}
      <div class="index_pagenation">
        <p>{{#if page.prev}}<a href="/{{{page.prev_link}}}">Previous</a>{{/if}}</p>
        <p><a href="/">Home</a></p>
        <p>{{#if page.next}}<a href="/{{{page.next_link}}}">Next</a>{{/if}}</p>
      </div>
      {{/if}}{{/if}}{{/if}}{{/if}}
      {{!-- ================================================== --}}
      {{#if page.permalink}}
      {{#with page}}
      {{> article}}
      {{/with}}
      <div class="post_pagenation">
        <p>{{#if page.prev}}Previous: <a href="/{{{page.prev.path}}}">{{page.prev.title}}</a>{{/if}}</p>
        <p><a href="/">Home</a></p>
        <p>{{#if page.next}}Next: <a href="/{{{page.next.path}}}">{{page.next.title}}</a>{{/if}}</p>
      </div>
      {{/if}}
      {{!-- ================================================== --}}
      {{#if page.posts}}{{#if page.archive}}
      {{#> indexPage}}Archives{{/indexPage}}
      {{/if}}{{/if}}
      {{!-- ================================================== --}}
      {{#if page.posts}}{{#if page.tag}}
      {{#> indexPage}}Tag: {{page.tag}}{{/indexPage}}
      {{/if}}{{/if}}
      {{!-- ================================================== --}}
      {{#if page.posts}}{{#if page.category}}
      {{#> indexPage}}Category: {{page.category}}{{/indexPage}}
      {{/if}}{{/if}}
      {{!-- ================================================== --}}
    </div>
  </main>
  <aside id="sidebar">
    {{#*inline "intro"}}
    <section class="widget_intro">
      {{#if theme.intro.photo}}<p><img src="/{{{theme.intro.photo}}}" /></p>{{/if}}
      <p>Author: {{config.author}}</p>
      {{#if theme.intro.description}}<p>{{theme.intro.description}}</p>{{/if}}
      {{#if theme.intro.links.length}}
      <ul>
        {{#each theme.intro.links}}
        <li><a href="{{{this.url}}}">{{this.title}}</a></li>
        {{/each}}
      </ul>
      {{/if}}
      {{#if theme.intro.email_img}}<p><img src="/{{{theme.intro.email_img}}}" /></p>{{/if}}
    </section>
    {{/inline}}
    {{#*inline "search"}}
    <section class="widget_search">
      <h1>Search</h1>
    </section>
    {{/inline}}
    {{#*inline "recent_posts"}}
    <section class="widget_recent_posts">
      <h1>Recent Posts</h1>
      <ul>
        {{#each site.posts}}
        {{#each (getRecentPosts this 10) }}
        <li><a href="/{{{this.path}}}">{{this.title}}</a></li>
        {{/each}}
        {{/each}}
      </ul>
    </section>
    {{/inline}}
    {{#*inline "archive"}}
    <section class="widget_archive">
      <h1>Archive</h1>
      <ul>
        <li><a href="/{{{config.archive_dir}}}/">All posts</a></li>
        {{#each site.posts}}
        {{#each (getLinksForArchives this ../config.archive_generator.monthly ../theme.archive.date_format ../config.archive_dir) }}
        {{log this.count}}
        <li><a href="/{{{this.path}}}">{{this.label}}{{#if ../../theme.sidebar.show_count.archive}} ({{this.count}}){{/if}}</a></li>
        {{/each}}
        {{/each}}
      </ul>
    </section>
    {{/inline}}
    {{#*inline "tagcloud"}}
    <section class="widget_tagcloud">
      <h1>Tag Cloud</h1>
      {{#if site.tags.length}}
      <ul>
        {{#each site.tags.data}}
        <li><a href="/{{{this.path}}}">{{this.name}}{{#if ../theme.sidebar.show_count.tagcloud}} ({{this.posts.length}}){{/if}}</a></li>
        {{/each}}
      </ul>
      {{/if}}
    </section>
    {{/inline}}
    {{#*inline "tag"}}
    <section class="widget_tag">
      <h1>Tag</h1>
      {{#if site.tags.length}}
      <ul>
        {{#each site.tags.data}}
        <li><a href="/{{{this.path}}}">{{this.name}}{{#if ../theme.sidebar.show_count.tag}} ({{this.posts.length}}){{/if}}</a></li>
        {{/each}}
      </ul>
      {{/if}}
    </section>
    {{/inline}}
    {{#*inline "category"}}
    <section class="widget_category">
      <h1>Category</h1>
    </section>
    {{/inline}}
    {{#*inline "links"}}
    <section class="widget_links">
      <h1>Links</h1>
    </section>
    {{/inline}}
    {{#*inline "notice"}}
    <section class="widget_notice">
      <h1>Notice</h1>
    </section>
    {{/inline}}
    {{#each theme.sidebar.widgets}}
    {{> (lookup ../theme.sidebar.widgets @index) .. }}
    {{/each}}
  </aside>
  </div><!-- id="container" -->
  <nav id="global_nav">
    <ul>
      {{#each theme.nav}}
      {{#if this}}
      <li class="{{this.icon}}"><a href="{{{this.path}}}">{{this.title}}</a></li>
      {{/if}}
      {{/each}}
    </ul>
  </nav>
  <footer id="global_footer">
    <p class="copyright">Copyright (C) 2017, {{config.author}}</p>
  </footer>
</body></html>
