<!doctype html>
<html lang="{{config.language}}">
<head>
    <meta charset="utf-8">
    <title>{{config.title}}</title>
    <!--
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    -->
    <link rel="stylesheet" href="/wakaba.css" />

    {{#each theme.font.stylesheets}}
    {{#if this}}
    <link rel="stylesheet" href="{{this}}" />
    {{/if}}
    {{/each}}

</head>
<body class="hexo hexo-index">
  <div id="container">
  <header id="global_header">
    <h1><a href="./">{{config.title}}</a></h1>
    <p>{{config.subtitle}}</p>
  </header>
  <main>
    <div>
      {{#*inline "article"}}
      <article>
        <header>
          <h1><a href="/{{this.path}}">{{this.title}}</a></h1>
          <div>
            <span class="post_date">{{this.date}}</span>
            {{#if this.updated}}
            <span class="post_updated">(updated: {{this.updated}})</span>
            {{/if}}
          </div>
          {{#if this.description}}
          <p class="post_description">{{this.description}}</p>
          {{/if}}
        </header>
        {{#if this.content}}
        <div class="post_content">{{{this.content}}}</div>
        {{/if}}
        <footer>
          {{#if this.categories}}
          {{#if this.categories.length}}
          <ul class="post_categories">
            {{#each this.categories}}
            {{#each this}}
            <li>Category: {{this}}</li>  
            {{/each}}
            {{/each}}
          </ul>
          {{else}}
          <p>Category: ---</p>
          {{/if}}
          {{/if}}
          {{!--
          {{#if this.tags}}
          <ul class="post_tags">
            {{#each this.tags}}
            <li>Tag: {{this}}</li>
            {{/each}}
          </ul>
          {{/if}}
          --}}
        </footer>
      </article>
      {{/inline}}
      {{#each page.posts}}
      {{#each this}}
      {{log this.tags.length}}
      {{> article}}
      {{/each}}
      {{/each}}
    </div>
  </main>
  <aside id="sidebar">
    {{#each theme.sidebar.widgets}}
    {{#if this}}
    <section>
      <h5>{{this}}</h5>
      <p>Not implemented yet.</p>
    </section>
    {{/if}}
    {{/each}}
  </aside>
  </div><!-- id="container" -->
  <nav id="global_nav">
    <ul>
      {{#each theme.nav}}
      {{#if this}}
      <li class="{{this.icon}}"><a href="{{this.url}}">{{this.title}}</a></li>
      {{/if}}
      {{/each}}
    </ul>
  </nav>
  <footer id="global_footer">
    <p class="copyright">Copyright (C) 2017, {{config.author}}</p>
  </footer>
</body></html>
