<%-
  partial('_partial/html-head', {
    lang: config.language,
    title: config.title,
    canonical: "./",
    stylesheets: theme.font.stylesheets,
    cssfile: "_css/styles.css"
  })
%>
<body class="hexo hexo-amp hexo-index">
  <header>
    <h1><a href="./"><%= config.title %></a></h1>
    <h2><%= config.subtitle %></h2>
  </header>
  <main>
    <p>This is a body.</p>
  </main>
  <nav>
    <ol>
      <% theme.nav.forEach(item => { %>
      <%   if (! item) return; %>
      <%   if (item.type === 'home') { %>
      <li><a href="<%- url_for('/') %>" class="fa-home"><%= _p('home') %></a></li>
      <%     return;
           }
      %>
      <%   if (item.type === 'archive') { %>
      <li><a href="<%- url_for(config.archive_dir + '/') %>" class="fa-fei"><%= _p('archives') %></a></li>
      <%     return;
           }
      %>
      <%   if (item.type === 'category') { %>
      <li><a href="<%- url_for(config.category_dir + '/') %>" class="fa-gui"><%= _p('categories') %></a></li>
      <%     return;
           }
      %>
      <%   if (item.type === 'tag') { %>
      <li><a href="<%- url_for(config.tag_dir + '/') %>" class="fa-biao"><%= _p('tags') %></a></li>
      <%     return;
           }
      %>
      <%   if (item.type === 'custom') { %>
      <li><a href="<%- url_for(item.path + '/') %>" class="<%- item.icon %>"><%= item.title %></a></li>
      <%     return;
           }
      %>
      <%   throw new Error('unknown type of theme.nav: ' + item.type); %>
      <% }); %>
    </ol>
  </nav>
  <aside>
  </aside>
  <footer>
    <p>Copyright (C) 2017, <%= config.author %></p>
  </footer>
</body></html>
